<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shrink Link - Not Found</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="container">
        <h1>Page Not Found (404)</h1>
    </header>
    <main class="container">
        <p>Oops! The page you are looking for doesn't exist.</p>
        <a href="/">Go back</a>
    </main>
    <footer class="container-fluid">
        <p>Created by Oleksii Ivanyshyn | <a href="/about.html">About this website</a></p>
    </footer>
</body>
</html>
