<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>✂️ Shrink Link - URL shortener</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="container">
        <h1><i class="fa-solid fa-scissors"></i> Shrink Link</h1>
    </header>
    <main class="container">
        <h2>About</h2>
        <p>Shrink Link is a minimalist web service designed for quickly and conveniently shortening long URLs. 
            This project was developed as part of a college assignment, with the main goal being to create a fully 
            functional web application without using external frameworks. The backend is powered by Node.js, 
            handling server-side logic without additional libraries, while the frontend is styled with PicoCSS 
            for a lightweight and responsive design. Vanilla JavaScript manages client-side interactions, 
            and the shortened links are stored using either the file system or a database.</p>
        <p>Shrink Link will be part of a larger project – my web platform <b>Coders Cave</b>, a place for developers and PC enthusiasts (currently in development).</p>
        <a href="/">Go back</a>
    </main>
    <footer class="container-fluid">
        <p>Created by Oleksii Ivanyshyn | <a href="/about.html">About Shrink Link</a></p>
    </footer>
</body>
</html>
