<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>✂️ Shrink Link - URL shortener</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main class="container">
        <h1><i class="fa-solid fa-scissors"></i> Shrink Link</h1>
        
    </main>
    <footer class="container-fluid">
        <p>Created by Oleksii Ivanyshyn | <a href="/about.html">About this website</a></p>
    </footer>
</body>
</html>
