@import url('https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

#result {
    display: none;
    margin-top: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: .7rem;
}